.button {
  width: 118px;
  height: 32px;
  border-radius: 5px;
  color: white;
  position: relative;
  border: none;
}

.button span {
  text-align: left;
}
.primary {
  background: #1bc5bd;
}

.secondary {
  background: #005b96;
}

.button > img {
  position: absolute;
  right: 8px;
}
