.App {
  text-align: center;
  height: 100vh;
}

.body {
  font-family: Roboto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  height: calc(100% - 61px);
}

.pageContent {
  height: 100%;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
